:host {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

:host(:not(:focus-within)) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  clip: rect(0px, 0px, 0px, 0px) !important;
  clip-path: inset(50%) !important;
  border: none !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  padding: 0px !important;
}