a {
  text-decoration: none;
}

:host {
  position: relative;
  display: inline-flex;
  --button-gap: 0.2em;
}

:host([theme="primary"]) {
  --background-color: var(--cc-color-primary);
  --button-text-color: #fff;
}

:host([theme="success"]) {
  --background-color: var(--cc-color-success);
  --button-text-color: #fff;
}

:host([theme~="danger"]) {
  --background-color: var(--cc-color-danger);
  --button-text-color: #fff;
}

:host([theme~="warning"]) {
  --background-color: var(--cc-color-warning);
  --button-text-color: #fff;
}

:host([theme~="neutral"]) {
  --background-color: var(--cc-color-neutral);
  --button-text-color: #fff;
}

:host([theme="primary"]) [part="button"],
:host([theme="success"]) [part="button"],
:host([theme="warning"]) [part="button"],
:host([theme="neutral"]) [part="button"],
:host([theme="danger"]) [part="button"] {
  border-color: transparent;
}

[part="button"] {
  background-color: var(--background-color, transparent);
  border: 1px solid var(--button-border-color, #dedbd9);
  color: var(--button-text-color, inherit);
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding: 1ch 1.5ch;
  border-radius: var(--cc-border-radius-md);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  transition: .15s cubic-bezier(.22,1,.36,1);
  /*
    Adding 100% otherwise flex-grow: 1 on host will not work.
  */
  width: 100%;
}

:host([theme~="square"]) [part="button"] {
  padding: 1ch;
}

/* default */
[part="button"]:focus-visible {
  outline: var(--cc-color-primary) auto 1px;
  outline-offset: 4px;
}

:host([theme="primary"]) [part="button"]:focus-visible,
:host([theme="success"]) [part="button"]:focus-visible,
:host([theme="warning"]) [part="button"]:focus-visible,
:host([theme="neutral"]) [part="button"]:focus-visible,
:host([theme="danger"]) [part="button"]:focus-visible {
  outline: var(--background-color) auto 1px;
  outline-offset: 4px;
}


[part="prefix"], [part="suffix"], [part="label"] {
  display: inline-flex;
  align-items: center;
}

:host([theme~="icon"]) [part="button"] {
  gap: 0;
  /*
    For icon buttons used with badges, maybe we don't need padding here?
    But, for icon buttons used as close button inside modal, 
    padding would make more sense as we want a hover background in this case.
    @todo - need more thinking.
  */
  padding: 0.25ch;
}

/* Add a new theme variant to remove padding ?*/
:host([theme~="no-padding"]) [part="button"] {
  padding: 0;
}

:host([theme~="icon"]) [part="button"]:hover {
  background-color: var(--cc-gray-2);
}

:host([theme~="round"]) [part="button"] {
  border-radius: 50%;
  padding: 1ch;
}

:host([theme~="round"]) [part="button"]:hover {
  background-color: var(--cc-gray-2);
}

:host([theme~="borderless"]) [part="button"] {
  border: none;
}

:host([theme~="icon"]) {
  line-height: 1;
}

:host([no-border]) [part="button"] {
  border-color: transparent;
}

:host([loading]) [part="button"] {
  cursor: wait;
}

:host([loading]) [part="button"] :not([part="spinner"]) {
  visibility: hidden;
}

:host([loading]) [part="spinner"] {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

[part="button"][disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

:host([theme~="text"]:not([disabled])) [part="button"] {
  background-color: transparent;
  border-color: transparent;
  color: var(--cc-color-primary);
}

:host([theme~="text"]:not([disabled])) [part="button"]:hover {
  filter: brightness(0.8);
}

:host([size="small"]) {
  font-size: 0.875rem;
}

:host([size="large"]) {
  font-size: 1.25rem;
}

::slotted([slot="prefix"]) {
  margin-inline-end: var(--button-gap);
}

::slotted([slot="suffix"]) {
  margin-inline-start: var(--button-gap);
}

::slotted(cc-badge) {
  position: absolute;
  top: 0px;
  right: 0px;
  translate: 50% -50%;
  pointer-events: none;
}