* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:host {
  position: relative;
  display: inline-block;
  /* border radius */
  --border-radius-base: 8px;
  --border-radius-sm: calc(var(--border-radius-base) * 0.5);
  --border-radius-md: calc(var(--border-radius-base) * 1);
  --border-radius-lg: calc(var(--border-radius-base) * 1.5);
  --border-radius-xl: calc(var(--border-radius-base) * 2);

  --outline-color-focus: hsl(252, 100%, 65%);
  --box-shadow-color-focus: rgba(109, 74, 255, 0.2);
  /* box shadow */
  --box-shadow-shadow: 0 0 0 .1875rem;
  --box-shadow: var(--box-shadow-shadow) var(--box-shadow-color-focus);

  --primary-color:  #6d4aff;

  --button-background-color: hsl(var(--background-h), var(--background-s), var(--background-l));
}

:host([theme="primary"]) {
  --background-h: 252;
  --background-s: 100%;
  --background-l: 65%;
  --button-text-color: #fff;
}

:host([theme="success"]) {
  --background-h: 145;
  --background-s: 72%;
  --background-l: 30%;
  --button-text-color: #fff;
}

:host([theme~="danger"]) {
  --background-h: 6;
  --background-s: 95%;
  --background-l: 47%;
  --button-text-color: #fff;
}

:host([theme="default"]) [part="button"],
:host([theme="primary"]) [part="button"],
:host([theme="success"]) [part="button"],
:host([theme="warning"]) [part="button"],
:host([theme="danger"]) [part="button"] {
  border-color: transparent;
}

:host([theme="primary"]) [part="button"]:hover,
:host([theme="success"]) [part="button"]:hover {
  --button-background-color: hsl(var(--background-h), var(--background-s), calc(var(--background-l) - 5%));
} 

[part="button"] {
  background-color: var(--button-background-color, transparent);
  border: 1px solid var(--button-border-color, #dedbd9);
  color: var(--button-text-color, inherit);
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding: 1ch 1.5ch;
  border-radius: var(--border-radius-md);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: var(--button-gap, .2em);
  transition: .15s cubic-bezier(.22,1,.36,1);
  /*
    Adding 100% otherwise flex-grow: 1 on host will not work.
  */
  width: 100%;
}

[part="button"]:focus-visible {
  outline: var(--outline-color-focus) auto 1px;
  box-shadow: var(--box-shadow);
}

:host([theme="default"]) [part="button"]:focus-visible,
:host([theme="primary"]) [part="button"]:focus-visible,
:host([theme="success"]) [part="button"]:focus-visible,
:host([theme="warning"]) [part="button"]:focus-visible,
:host([theme="danger"]) [part="button"]:focus-visible {
  outline: var(--button-background-color) auto 1px;
  --box-shadow-color-focus: hsl(var(--background-h) var(--background-s) var(--background-l) / 0.2);
}

[part="prefix"], [part="suffix"], [part="label"] {
  display: inline-flex;
  align-items: center;
}

:host([theme~="icon"]) [part="button"] {
  gap: 0;
  padding: 0.25ch;
}

:host([theme~="borderless"]) [part="button"] {
  border: none;
}

:host([theme~="icon"]) {
  line-height: 1;
}

:host([no-border]) [part="button"] {
  border-color: transparent;
}

:host([loading]) [part="button"] {
  cursor: wait;
}

:host([loading]) [part="button"] :not([part="spinner"]) {
  visibility: hidden;
}

:host([loading]) [part="spinner"] {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

[part="button"][disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

:host([theme~="text"]:not([disabled])) [part="button"] {
  background-color: transparent;
  border-color: transparent;
  color: var(--primary-color);
}

:host([theme~="text"]:not([disabled])) [part="button"]:hover {
  filter: brightness(0.8);
}

:host([size="small"]) {
  font-size: 0.875rem;
}

:host([size="large"]) {
  font-size: 1.25rem;
}