* {
  box-sizing: border-box;
}

:host {
  --border-color: #adaba8;
  --background-color: #adaba8;
  --primary-color: #6d4aff;
  --size: 1.5em;
  --gap: 0.5em;
  --helper-text-color: #667085;
  display: block;
}

:host([size="small"]) {
  font-size: 0.875rem;
}

:host([size="large"]) {
  font-size: 1.25rem;
}

.sr-only {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: var(--gap);
}

:host([disabled]) label {
  opacity: .5;
  cursor: not-allowed;
}

:host([layout="reverse"]) [part="control"] {
  order: 2;
}

[part="helper-text"] {
  margin-left: calc(var(--size) * 2 + var(--gap));
  color: var(--helper-text-color);
  line-height: 1.2;
  margin-top: -2px;
}

slot[name="helper-text"] {
  font-size: .8em;
}

[part="control"] {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--border-color);
  border-radius: var(--size);
  width: calc(var(--size) * 2);
}

[part="control"]::before {
  bottom: 1px;
  content: "";
  left: 1px;
  position: absolute;
  top: 1px;
  background-color: var(--background-color);
  border-radius: 1.7142857143em;
  transform: translateX(0);
  transition: transform .25s cubic-bezier(.34,1.56,.64,1), background-color .25s cubic-bezier(.33,1,.68,1);
  width: calc(var(--size) - 2px);
  height: calc(var(--size) - 2px);
}

:host([checked]) [part="control"]::before {
  transform: translateX(calc(var(--size) - 2px));
  background-color: var(--primary-color);
}

[part="thumb"] {
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: none;
}

:host([checked]) [part="thumb"]:last-of-type {
  /* transition-delay: .25s; */
  opacity: 1;
  z-index: 1;
  transition: opacity .25s ease;
  color: #fff;
}