:host {

}

button {
  cursor: pointer;
  -webkit-appearance: none;
  background: transparent;
  font: inherit;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--_border-color-normal);
  transition: .15s cubic-bezier(.22,1,.36,1), visibility 0s;
  border-radius: var(--_border-radius-md);
  padding: .5rem .5rem .5rem 1rem;
  width: 100%;
}

button:is(:focus-visible, :focus) {
  outline: 1px auto var(--_outline-color-focus);
  box-shadow: var(--_box-shadow);
}

button[part="close"] {
  display: none; /* todo */
}

[part="dropdown"] {
  background-color: #fff;
  border-radius: var(--_border-radius-md);
  max-height: calc(min(var(--available-height, var(--max-height)), var(--max-height)) - 2px);
  max-width: calc(min(var(--available-width, var(--max-width)), var(--max-width)) - 2px);
  min-height: min(var(--min-height,1em),100vh);
  min-width: min(var(--min-width,1.5em),100vw);
  overflow: auto;
  width: var(--width);
  box-shadow: rgb(35 35 52 / 20%) 0px 7px 29px 0px;
  position: fixed;
  z-index: 999;
  visibility: hidden;
  pointer-events: none;
  
}

[part="dropdown"].visible {
  /* transform: scale(1); */
  left: var(--left);
  top: var(--top);
  visibility: visible;
  pointer-events: initial;
  transition: .15s cubic-bezier(.22,1,.36,1), visibility 0s;
  animation: scale .15s cubic-bezier(.33,1,.68,1) both;
}

[part="dropdown-content"] {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-block: 4px;
}

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

::slotted([slot="suffix"]) {
  flex: none;
  width: 1em;
  height: 1em;
  line-height: 1;
  transition: 0.2s color;
}

:host(.dropdown-opened) ::slotted([slot="suffix"]) {
  transform: rotate(180deg);
}