:host {
  --border-radius: 8px;
  --border-color-normal: #adaba8;
  --border-color-focus: hsl(252, 100%, 65%);
  /* TODO: how to connect to hsl? */
  --box-shadow-color: rgba(109, 74, 255, 0.2);
  --label-font-weight: 600;
  /*
    Adding display block otherwise components user setting margin
    on this component will not work as expected.
  */
  display: block;
}

input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

label {
  font-weight: var(--label-font-weight);
  padding-block: var(--form-control-label-top-padding) 0.5em;
  display: inline-block;
}

::slotted([slot="upload-icon"]) {
  color: var(--cc-gray-6);
}

[part="content"] {
  text-align: center;
}

/*
  When label aligns with input vertially, make top/bottom padding same,
  as we're center-aligning vertically.
*/
:host([label-position-side]) label {
  padding-block: 0.25em;
}

[part="input-container"] {
  /* margin is not a good choice here as clicking margin area will not activate input */
  /* margin-top: .5em; */
  border: 1px dashed var(--border-color-normal);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  position: relative;
  transition: .15s cubic-bezier(.22,1,.36,1), visibility 0s;
  overflow: hidden;
  padding: 2.5rem 1.5rem;
  flex-direction: column;
}

[part=input-container]:focus-within,
[part="input-container"]:hover {
  border-color: var(--border-color-focus);
  box-shadow: 0 0 0 0.1875rem var(--box-shadow-color);
}

:host([label-position-side]) [part="container"] {
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
}

:host([label-position-side]) [part="input-container"] {
  margin-top: 0;
}

:host([disabled]) {
  opacity: 0.5;
}

/*
  These CSS below can be shared across multiple components though.
*/
:host([helper-text-position-top]) [part="container"] {
  display: flex;
  flex-direction: column;
}

:host([helper-text-position-top]) [part="label"] {
  padding-block: 0.25em;
}

:host([helper-text-position-top]) [part="input-container"] {
  order: 1;
  margin-top: 0.25em;
}

:host([helper-text-position-top]) [part="helper-text"]:not(:empty) {
  order: 0;
  margin-top: 0;
}