* {
  box-sizing: border-box;
}

:host {
  --_background-color: #fff;
  --_text-color: inherit;
}

:host([selected]) {
  --_background-color: var(--_primary-color);
  --_text-color: #fff;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  display: block;
  border: 0;
  outline: 1px solid transparent;
  background-color: var(--_background-color);
  color: var(--_text-color);
  font: inherit;
  padding: 0.5rem 1rem;
  width: 100%;
  position: relative;
  /* border-radius: var(--_border-radius-sm); */
  text-align: left;
}

button::after {
  border: 1px solid transparent;
  border-radius: var(--_border-radius-sm);
  content: "";
  pointer-events: none;
  position: absolute;
  transition: .15s cubic-bezier(.5,1,.89,1);
  z-index: 1;
  bottom: 0.1875rem;
  left: 0.1875rem;
  right: 0.1875rem;
  top: 0.1875rem;
}

button:focus-visible::after {
  border-color: var(--_outline-color-focus);
  box-shadow: var(--_box-shadow);
}

:host(:not([selected])) button:hover {
  background-color: var(--_hover-color);
}