:host {
  --_outline-color-focus: var(--breeze-outline-color-focus, hsl(252, 100%, 65%));
  --_box-shadow-color-focus: var(--breeze-box-shadow-color-focus, rgba(109, 74, 255, 0.2));
  --_primary-color: var(--breeze-primary-color, #6d4aff);

  /* box shadow */
  --_box-shadow-shadow: var(--breeze-box-shadow-shadow, 0 0 0 .1875rem);
  --_box-shadow: var(--_box-shadow-shadow) var(--_box-shadow-color-focus);

  /* border radius */
  --_border-radius-base: var(--breeze-border-radius-base, 8px);
  --_border-radius-sm: calc(var(--_border-radius-base) * 0.5);
  --_border-radius-md: calc(var(--_border-radius-base) * 1);
  --_border-radius-lg: calc(var(--_border-radius-base) * 1.5);
  --_border-radius-xl: calc(var(--_border-radius-base) * 2);
  --_border-radius-full: 9999em;


  --_border-color-normal: var(--breeze-border-color-normal, #adaba8);
  --_background-color-normal: var(--breeze-background-color-normal, #adaba8);

  --_backdrop-normal: rgba(38, 42, 51, 0.48);

  --_hover-color: rgba(194, 193, 192, 0.2);

  --_button-border-color: var(--breeze-button-border-color, #dedbd9);
}

* {
  box-sizing: border-box;
}

.sr-only {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 1px;
}