:host {
  /* https://yeun.github.io/open-color/ */
  /* Gray */
  --cc-gray-0: #f8f9fa;
  --cc-gray-1: #f1f3f5;
  --cc-gray-2: #e9ecef;
  --cc-gray-3: #dee2e6;
  --cc-gray-4: #ced4da;
  --cc-gray-5: #adb5bd;
  --cc-gray-6: #868e96;
  --cc-gray-7: #495057;
  --cc-gray-8: #343a40;
  --cc-gray-9: #212529;

  /* Red  */
  --cc-red-0: #fff5f5;
  --cc-red-1: #ffe3e3;
  --cc-red-2: #ffc9c9;
  --cc-red-3: #ffa8a8;
  --cc-red-4: #ff8787;
  --cc-red-5: #ff6b6b;
  --cc-red-6: #fa5252;
  --cc-red-7: #f03e3e;
  --cc-red-8: #e03131;
  --cc-red-9: #c92a2a;


  --cc-helper-text-font-size: .8em;

  
  --_outline-color-focus: var(--breeze-outline-color-focus, hsl(252, 100%, 65%));
  --_box-shadow-color-focus: var(--breeze-box-shadow-color-focus, rgba(109, 74, 255, 0.2));
  --_primary-color: var(--breeze-primary-color, #6d4aff);

  /* box shadow */
  --_box-shadow-shadow: var(--breeze-box-shadow-shadow, 0 0 0 .1875rem);
  --_box-shadow: var(--_box-shadow-shadow) var(--_box-shadow-color-focus);

  /* border radius */
  --_border-radius-base: var(--breeze-border-radius-base, 8px);
  --_border-radius-sm: calc(var(--_border-radius-base) * 0.5);
  --_border-radius-md: calc(var(--_border-radius-base) * 1);
  --_border-radius-lg: calc(var(--_border-radius-base) * 1.5);
  --_border-radius-xl: calc(var(--_border-radius-base) * 2);
  --_border-radius-full: 9999em;


  --_border-color-normal: var(--breeze-border-color-normal, #adaba8);
  --_background-color-normal: var(--breeze-background-color-normal, #adaba8);

  --_backdrop-normal: rgba(38, 42, 51, 0.48);

  --_hover-color: rgba(194, 193, 192, 0.2);

  --_button-border-color: var(--breeze-button-border-color, #dedbd9);
}

* {
  box-sizing: border-box;
}

.sr-only {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 1px;
}