<div part="container">
  <label part="label"><span></span></label>
  <div part="input-container">
    <slot name="prefix"></slot>
    <input 
      part="input" 
      type="password" 
      autocomplete="off" 
      autocapitalize="off"
      autocorrect="off" 
      spellcheck="false" 
      aria-invalid="false"
    >
    <slot name="suffix">
      <cc-button 
        theme="icon borderless" 
        aria-label="Show password" 
        aria-pressed="false"
        onclick="this.getRootNode().host.togglePasswordVisibility(this)"
      >
        <cc-icon icon="eye" style="--size: 1.5em;"></cc-icon>
      </cc-button>
    </slot>
  </div>
  <div part="helper-text"></div>
  <div part="error-message"></div>
</div>