a {
  text-decoration: none;
}

:host {
  position: relative;
  display: block;
  font-size: var(--font-size, 1.2rem);
  min-width: 10em;
  /* border radius */
  --border-radius-base: 8px;
  --border-radius-sm: calc(var(--border-radius-base) * 0.5);
  --border-radius-md: calc(var(--border-radius-base) * 1);
  --border-radius-lg: calc(var(--border-radius-base) * 1.5);
  --border-radius-xl: calc(var(--border-radius-base) * 2);

  --padding: 0.5rem;
}

[part="container"] {
  display: flex;
  align-items: center;
}

[part="link"] {
  flex: 1 1 auto;
  min-width: 0px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font: inherit;
  width: 100%;
  padding: var(--padding);
  gap: var(--padding);
  border-radius: var(--border-radius-sm);

  &:hover {
    background-color: var(--cc-gray-1);
  }
}

[part="link"][href] {
  cursor: pointer;
}

[part="toggle-icon"] {
  display: none;
  align-items: center;

  :host([has-children]) & {
    display: flex;
  }
}