---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout>
  <h1>Breeze Components</h1>
  <p>A collection of native web components built on top of web standards without any external dependencies.</p>
  <h2>This is an ongoing project...</h2>
  <p>Will work on this home page when this project has been published to NPM & CDN.</p>
</MainLayout>