---
import { SIDEBAR } from '../config';
import SkipToContent from './Header/SkipToContent.astro';
const { currentPage } = Astro.props;
---
<header title="Site Navigation">
	<h2>
		<a href="/" class="logo">
			<img src="/cucumber-components.png" role="presentation" alt="">
		</a>
		<button id="toggle-mobile-menu">Menu</button>
	</h2>
	<nav aria-labelledby="grid-left">
		<ul>
			<SkipToContent />
			{SIDEBAR.map(item => (item.header ?
				<h2>{item.text}</h2> :
				<li>
					<a href={item.link}>{item.text}</a>
				</li>))}
		</ul>
		<a title="Github" href="https://github.com/heybran/breeze-components">
			<img src="/github.svg" alt="github logo">
		</a>
	</nav>
</header>

<style>
	li {
		transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
		color: rgb(100 116 139 / 1);
	}
	li.current {
		color: rgb(15 23 42 / 1);
		font-weight: 500;
	}
	header {
		height: 100vh;
  	height: 100dvh;
		border-right-width: 1px;
		display: flex;
		flex-direction: column;
		border: 1px solid #e5e7eb;
		overflow-y: auto;
	}
	header > h2 {
		margin: 0;
		border-bottom: 1px solid #e5e7eb;
	}
	#toggle-mobile-menu {
		display: none;
		font-size: 1.2rem;
	}
	a {
		display: block;
		padding-top: 0.35rem;
    padding-bottom: 0.35rem;
		padding-left: 2rem;
    padding-right: 2rem;
		text-decoration: none;
		color: inherit;
	}
	.logo {
		width: 16rem;
		padding-block: 1rem;
		border-bottom-width: 1px;
	}
	a[title="Github"] {
		margin-block: 2rem;
		display: block;
	}
	ul {
		list-style: none;
    margin: 0;
    padding: 0;
		padding-top: 2rem;
	}
	ul h2 {
		font-weight: 600;
		padding: 0.5rem 2rem;
		margin-top: 2rem;
		font-size: 1.5rem;
	}
	@media screen and (any-pointer: coarse) {
		header {
			position: fixed;
			width: 100%;
			border: none;
			z-index: 9;
			height: auto;
		}
		header.expanded {
			background-color: white;
		}
		header > h2 {
			background-color: white;
			display: flex;
    	justify-content: space-between;
		}
		header #toggle-mobile-menu {
			display: block;
			background: none;
			border: none;
			padding-inline: 2rem;
		}
		nav {
			position: absolute;
			left: -100%;
			top: 100%;
			width: 100%;
			background-color: white;
			pointer-events: none;
		}
		header.expanded nav {
			left: 0;
			transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
			pointer-events: initial;
		}
	}
</style>

<script is:inline>
	window.addEventListener('DOMContentLoaded', (event) => {
		let path = location.pathname;
		if (path.endsWith('/')) {
			path = path.replace(/\/$/, "");
		} else {
			document.querySelector(`a[href="${path}"]`).parentElement.classList.add('current');
		}

		var target = document.querySelector('[aria-current="page"]');
		if (target && target.offsetTop > window.innerHeight - 100) {
			document.querySelector('.nav-groups').scrollTop = target.offsetTop;
		}

		const headerButton = document.querySelector('#toggle-mobile-menu');
		headerButton?.addEventListener('click', () => {
			headerButton.closest('header').classList.toggle('expanded');
		});
	});
</script>


