* {
  box-sizing: border-box;
}

:host {
  --aspect-ratio: 16 / 9;
  --scroll-hint: 0px;
  --items-per-view: 3;
  --spacing: 10px;
  --pagination-size: 1rem;
  /* TODO: naming? */
  --focus-ring-color: #6d4aff;
  display: none;
}

/*
  FIXME: slide image freshes before component is connected to DOM
*/
:host(:defined) {
  display: block;
}

[part="container"] {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: 1fr min-content;
  align-items: center;
  position: relative;
  column-gap: 0;
  row-gap: 0;
  grid-template-areas: 
    "previous-button slides next-button"
    ". pagination .";
}

:host([pagination]) [part="container"] {
  row-gap: 1rem;
}

:host([navigation]) [part="container"] {
  column-gap: 1rem;
}

[part="carousel-container"] {
  --gap-numbers: calc(var(--items-per-view) - 1);
  display: grid;
  gap: var(--spacing);
  grid-auto-columns: calc((100% - var(--gap-numbers) * var(--spacing)) / var(--items-per-view));
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
  grid-auto-flow: column;
  grid-area: slides;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

[part="carousel-container"]::-webkit-scrollbar {
  display: none;
}

[part="navigation"] {
  display: none;
}

:host([navigation]) [part="navigation"] {
  display: contents;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  appearance: none;
  border-radius: 50%;
  font-size: inherit;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

[part="navigation-button"] {
  color: #777;
  padding: 0.5em;
}

[part="navigation-button"]:hover,
[part="navigation-button"]:focus-visible {
  background: #dbdbdb;
}

[part="navigation-icon"] {
  width: 1.5em;
  height: 1.5em;
}

[part="navigation-button--previous"] {
  grid-area: previous-button;
}

[part="navigation-button--next"] {
  grid-area: next-button;
}

[part="pagination"] {
  grid-area: pagination;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

[role="tab"] {
  width: var(--pagination-size);
  height: var(--pagination-size);
  background-color: #dbdbdb;
}

button:focus-visible {
  outline-color: var(--focus-ring-color);
  outline-offset: 3px;
}

button[aria-selected="true"] {
  filter: brightness(0.5);
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}