<dialog part="dialog" aria-labelledby="title">
  <form method="dialog" part="form">
    <header part="header">
      <h3 part="title" id="title">
        <slot name="title">Dialog default title.</slot>
      </h3>
      <cc-button part="close-button" theme="borderless icon round" onclick="this.closest('dialog').close('close');">
        <cc-icon icon="cross" label="Close dialog" style="--size: 2em;"></cc-icon>
        <cc-tooltip slot="tooltip" text="Close dialog"></cc-tooltip>
      </cc-button>
    </header>
    <article>
      <slot part="body"></slot>
    </article>
    <footer part="footer">
      <menu part="footer-menu">
        <slot name="footer-actions-left"></slot>
      </menu>
      <menu part="footer-menu">
        <slot name="footer-actions-right"></slot>
      </menu>
    </footer>
  </form>
</dialog>