<div part="container">
	<label part="label" for="input">
    <slot name="label"></slot>
  </label>
	<div part="input-container">
		<slot name="prefix"></slot>
    <input
			part="input"
			id="input"
			type="text"
			autocomplete="off"
			autocapitalize="off"
			autocorrect="off"
			spellcheck="false"
			aria-invalid="false"
			aria-describedby="helper-text"
		/>
    <slot name="suffix"></slot>
	</div>
	<div part="helper-text" id="helper-text">
		<slot name="helper-text"></slot>
	</div>
	<div part="error-message" id="error-message"></div>
</div>
